<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    stopOnFailure="false"
    verbose="true"
    bootstrap="../application/third_party/CIUnit/bootstrap_phpunit.php">
    <php>
        <server name="SERVER_NAME" value="http://localhost:8888" />
    </php>
    <testsuites>
        <testsuite name="ControllerTests">
            <directory>controllers</directory>
        </testsuite>
        <testsuite name="ModelTests">
            <directory suffix=".php">models</directory>
        </testsuite>
        <testsuite name="SystemTests">
            <directory suffix=".php">system</directory>
        </testsuite>
    </testsuites>
</phpunit>
